/*	*** FONTS ***
	font-family: 'Antic Didone', serif;
	font-family: 'Raleway', sans-serif;
*/

/*********************************************************
	*** GLOBAL ***
*********************************************************/
* {
	margin: 0;
	padding: 0;
}


.website-container {
	background-color: red;
	color: white;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}



/*********************************************************
	*** SIDEBAR ***
*********************************************************/
.sidebar-container {
	background-color: green;
	color: white;
	width: 220px;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
}

.logo-area {
	background-color: #fafafa;
	padding: 8px;
	color: rgb(0, 128, 115);
	border-bottom: 1px solid #ddd;
	text-align: center;
}

.logo-name {
	font-size: 2.45em;
	line-height: 1.0;
	font-family: 'Antic Didone', serif;
}

.logo-title {
	font-family: 'Raleway', sans-serif;
	font-size: 1.0em;
	color: #795548;
}

.sidebar-list {
	background-color: #ffffff;
	color: white;
}

.sidebar {
	background-color: cyan;
	color: white;
}



/*********************************************************
	*** MAIN CONTENT ***
*********************************************************/
.content-container {
	background-color: green;
	color: white;
	width: 100%;
	margin-left: 220px;
}

.tagline-image {
	background-color: #2c2b2a;
	color: white;
	overflow: hidden;
}

.tagline-description {
	background-color: cyan;
	color: white;
}

.content-list {
	background-color: blue;
	color: white;
}

.content {
	background-color: cyan;
	color: white;
}













