/*	*** FONTS ***
	font-family: 'Antic Didone', serif;
	font-family: 'Raleway', sans-serif;
*/

/*********************************************************
	*** GLOBAL ***
*********************************************************/
* {
	margin: 0;
	padding: 0;
  	box-sizing: border-box;
}

a {
	text-decoration: none;
}

html {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
       -moz-box-sizing: inherit;
            box-sizing: inherit;
}

h2 {
	background-color: rgb(0, 128, 115);
	font-weight: 200;
	padding: 30px 70px;
	margin: 2.5em 0;
	text-transform: uppercase;
	text-align: left;
	font-family: 'Raleway', sans-serif;
}
h2:first-child {
	margin-top: 0;
}

.mt {
	margin-top: 0px;
}

.website-container {
	/*background-color: red;*/
	color: white;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}



/*********************************************************
	*** SIDEBAR ***
*********************************************************/
.sidebar-container {
	color: white;
	width: 220px;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	border-right: 1px solid #ddd;
}

.logo-area {
	background-color: #fafafa;
	padding: 8px;
	color: rgb(0, 128, 115);
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	text-align: center;
}

.logo-name {
	font-size: 2.45em;
	line-height: 1.0;
	font-family: 'Antic Didone', serif;
}

.logo-title {
	font-family: 'Raleway', sans-serif;
	font-size: 1.0em;
	color: #795548;
}

.sidebar-list {
	background-color: #ffffff;
	color: white;
	height: 100%;
}

.sidebar {
	color: white;
}

.list:hover {
	background-color: #ddd;
	text-decoration: none;
}

.list svg {
	font-size: 1.8em;
}

.link-name {
	margin-left: 1em;
}

.blank-list:last-child {
	background-color: #fafafa;
	height: 400px;
}

/*********************************************************
	*** TAGLINE ***
*********************************************************/
.content-container {
	background-color: white;
	color: white;
	width: 100%;
	height: 100%;
	margin-left: 220px;
}

.tagline-image {
	background-color: #2c2b2a;
	color: white;
	overflow: hidden;
}

.tagline-description {
	color: white;
}


/*********************************************************
	*** ABOUT ***
*********************************************************/
.blog-card {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  margin-bottom: 1.6%;
  background: #fff;
  line-height: 1.4;
  font-family: sans-serif;
  overflow: hidden;
  z-index: 0;
  /*height: 580px;*/
}
.blog-card a {
  color: inherit;
}
.blog-card a:hover {
  color: #5ad67d;
}
.blog-card .meta {
  position: relative;
  z-index: 0;
  display: inline-block;
  float: right;
}
.blog-card .photo img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.blog-card .description {
  padding: 0 1rem;
  background: #fff;
  position: relative;
  z-index: 1;
}
.blog-card .description h3,
.blog-card .description h4 {
  line-height: 1.1;
}
.blog-card .description h3 {
  margin: 0;
  font-size: 1.7rem;
  color: gray;
}
.blog-card .description h4 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #a2a2a2;
  margin-top: 5px;
}

.blog-card p {
  position: relative;
  margin: 1rem 0 0;
  color: gray;
  line-height: 1.5;
  text-align: left;
  font-family: 'Raleway', sans-serif;
}
.blog-card p:first-of-type {
  margin-top: 1.25rem;
}
.blog-card p:first-of-type:before {
  content: "";
  position: absolute;
  height: 5px;
  background: #5ad67d;
  width: 35px;
  top: -0.75rem;
}

.photo img {
	width: 100%;
	height: auto;
}

.quote {
	text-align: left;
	line-height: 2.5;
	font-family: 'Antic Didone', serif;
}

.quote-author {
	text-align: left;
	font-family: 'Raleway', sans-serif;
}


/*********************************************************
	*** SKILLS ***
*********************************************************/
.skills .card {
	padding: 10px;
}

.card h4 {
	color: gray;
	margin-bottom: 3em;
	text-align: left;
	padding-left: 1.25rem;;
	font-family: 'Raleway', sans-serif;
}

.card p {
	color: gray;
	font-family: 'Raleway', sans-serif;
}

/*********************************************************
	*** PROJECTS ***
*********************************************************/
.project-card {
	height: 100%;
	padding-left: 0;
}

.card-img-top {
	height: 180px;
}

.card-title {
	color: gray;
	font-family: 'Raleway', sans-serif;
}

.card-text {
	color: gray;
	font-family: 'Raleway', sans-serif;
	text-align: left;
}

.card-footer {
	background-color: #fafafa;
	color: gray;
	font-family: 'Raleway', sans-serif;
	text-align: left;
}

.technologies-used {
	list-style-type: none;
	text-align: left;
	font-family: 'Raleway', sans-serif;
}


/*********************************************************
	*** EXPERIENCE ***
*********************************************************/
.experience .card {
	padding-left: 0;
}

.experience-logo {
    min-height: 100px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.experience-name {
	font-family: 'Antic Didone', serif;
	color: #487e73;
	font-size: 1.5em;
    min-height: 100px;
    display: inline-flex;
    align-items: center;
}

.experience-title {
	font-family: 'Raleway', sans-serif;
	color: #795548;
	font-size: 1.3em;
    min-height: 100px;
    display: inline-flex;
    align-items: center;
}

.experience .list-group-item {
	color: gray;
}

.experience li {
	list-style-type: disc;
	color: gray;
	text-align: left;
	margin-left: 50px;
}

.experience .row:first-child {
	margin-bottom: 20px;
}

.experience .card-footer {
	padding-left: 1.25rem;;
	font-family: 'Raleway', sans-serif;
}


/*********************************************************
	*** EDUCATION ***
*********************************************************/
.education .card {
	padding-left: 0;
}

.education-logo {
    min-height: 100px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.education-name {
	font-family: 'Antic Didone', serif;
	color: #487e73;
	font-size: 1.5em;
    min-height: 100px;
    display: inline-flex;
    align-items: center;
}

.education-title {
	font-family: 'Raleway', sans-serif;
	color: #795548;
	font-size: 1.3em;
    min-height: 100px;
    display: inline-flex;
    align-items: center;
    text-align: left;
}

.education .list-group-item {
	color: gray;
}

.education li {
	list-style-type: disc;
	color: gray;
	text-align: left;
	margin-left: 50px;
}

.education .row {
	margin-bottom: 20px;
}

.education .card-footer {
	padding-left: 1.25rem;;
	font-family: 'Raleway', sans-serif;
	border-top: 0px;
}


/*********************************************************
	*** CONTACT ***
*********************************************************/
.contact {
	margin-bottom: 80px;
}

.contact p {
	text-align: left;
	padding-left: 1em;
	margin-bottom: 0px;
}

.contact .card-header {
	border-bottom: none;
	border-top: none;
}

.contact a {
	text-decoration-color: #2b84ee;
}

.contact a span {
	color: #2b84ee;
}

.contact svg {
	font-size: 3.8em;
	color: #795548;
	margin-right: 0.1em;
}

.contact .card {
	padding-left: 0px;
}


/*********************************************************
	*** Navbar Overlay ***
*********************************************************/
.navbar-overlay {
	background-color: #ffffff;
	width: 100%;
	height: 64px;
	position: fixed;
	top: 0px;
	z-index: 2;
	display: none;
}

.navbar-overlay svg {
	color: rgb(0, 128, 115);
	font-size: 2.5em;
}

.nav-name {
	margin-top: 5px;
	margin-bottom: 0;
	font-size: 1.5em;
	line-height: 1.0;
	font-family: 'Antic Didone', serif;
	color: rgb(0, 128, 115);
}

.nav-title {
	margin-bottom: 0;
	font-family: 'Raleway', sans-serif;
	font-size: 1.0em;
	color: #795548;
}





.logo-area {
	background-color: #fafafa;
	padding: 8px;
	color: rgb(0, 128, 115);
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	text-align: center;
}

.logo-name {
	font-size: 2.45em;
	line-height: 1.0;
	font-family: 'Antic Didone', serif;
}

.logo-title {
	font-family: 'Raleway', sans-serif;
	font-size: 1.0em;
	color: #795548;
}





/*********************************************************
	*** MEDIA QUERIES ***
*********************************************************/
@media all and (max-width: 980px) {
	.sidebar-container {
		display: none;
	}
	.navbar-overlay {
		display: block;
	}
	.content-container {
		width: 100%;
		margin-left: 0px;
		margin-top: 64px;
	}
}

@media all and (max-width: 767px) {
	.card h4 {
		text-align: center;
		padding-left: 0px;
	}
}

@media all and (max-width: 639px) {
	h2 {
		text-align: center;
		padding: 20px 70px;
		margin-bottom: 2.09em;
	}
	.meta {
		display: none;
	}
	.contact p {
		padding-left: 0px;
	}
	.contact span {
		width: 100%;
		display: block;
	}
	.contact p {
		text-align: center;
		width: 100%;
	}
	.blog-card p:first-of-type {
	  	margin-top: 2.25rem;
	}
	.card-footer {
		padding: 30;
	}
	.technologies-used li {
		float: left;
		width: 50%;
		margin-bottom: 10px;
		text-align: center;
		font-family: 'Raleway', sans-serif;
		font-size: 1.2em;
	}
	.education-title {
		margin-left: 1.5em;
	}
	.experience-title {
		margin-left: 1.5em;
	}

}

/* For .blog-card */
@media (min-width: 640px) {
  .blog-card {
    flex-direction: row;
    max-width: 700px;
  }
  .blog-card .meta {
    flex-basis: 40%;
    height: auto;
  }
  .blog-card .description {
    flex-basis: 60%;
  }
  .blog-card .description:before {
    -webkit-transform: skewX(-3deg);
            transform: skewX(-3deg);
    content: "";
    background: #fff;
    width: 30px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  .blog-card.alt {
    flex-direction: row-reverse;
  }
  .blog-card.alt .description:before {
    left: inherit;
    right: -12px;
    -webkit-transform: skew(3deg);
            transform: skew(3deg);
  }
  .blog-card.alt .details {
    padding-left: 25px;
  }
}



